
/* todos remove */

header{


    border: black 2px dashed;
}

div.col-8,div.col-4{


border: yellow 3px solid;
}

.jumbo{
    border: 2px  dashed blue;

}
.footer-jumbo{

    border: 2px  dashed green;

}

.img-container{

}

.img-text{
    border: green 2px dashed;
    width: 300px;
}
.img-title{
    border: green 2px dashed;
    height: 100px;
    width: 100px;
}
