
/* todos remove */

header{


    border: black 2px dashed;
}

div.col-8,div.col-4{


border: yellow 3px solid;
}

.jumbo{
    border: 2px  dashed blue;

}
.footer-jumbo{

    border: 2px  dashed green;

}

.img-container{

}

.img-text{
    border: green 2px dashed;
    width: 300px;
}
.img-title{
    border: green 2px dashed;
    height: 100px;
    width: 100px;
}
.info{
    border: green 2px dashed;
    width: auto;
}

.spotlight{
    border: pink 2px dashed;
}
.card-box{
    text-align: center;
    border: 2px red dashed;
}

.title-explore,.col-12{

}

.explore{
    height: 200px;
    border:fuchsia dashed 2px ;
}
.explore-product{
    height: 200px;
    border:fuchsia dashed 2px ;
}